/* App.css */

.dashboard {
	position: relative;
	width: 250px;
	height: 100vh;
}
.dashboard .sidebar {
	position: fixed;

	width: 250px;
	height: 100vh;
	top: 10;
	left: -140px;
	/* z-index: -100; */
	background-color: #333;
	transition: all 0.3s ease;
}

.dashboard .sidebar.open {
	left: 0;
}

.dashboard .sidebar-header {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.dashboard .sidebar-toggle {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
}

.dashboard .nav {
	padding-top: 20px;
}

.dashboard .nav-link {
	color: #fff;
}

.dashboard .nav-link i {
	margin-right: 10px;
}

.dashboard .user-icon {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-size: 24px;
}
