/* App.css */

.dashboard {
	position: relative;
	/* width: 250px; */
	width: 100%;
	height: auto;
}
.dashboard .sidebar {
	/* position: fixed;*/
	/* position: absolute;  */
	position: relative;
	width: 250px;
	height: 100vh;
	left: -135px;
	padding: 0px 20px;
	background-color: #333;
	transition: all 0.3s ease;
}

.dashboard .sidebar.open {
	left: 0;
}

.dashboard .sidebar-header {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.dashboard .sidebar-toggle {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	font-size: 24px;
}

.dashboard .nav {
	padding-top: 20px;
}

.dashboard .nav-link {
	color: #fff;
}

.dashboard .nav-link i {
	margin-right: 10px;
}

.dashboard .user-icon {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-size: 24px;
}
